:root {
  --accent-color: #2196f3;
  --text-color: #757575;
  --secondary-text-color: #ffffff;
  --titels-color: #212121;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --icon-color: #afb1b8;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link-reset {
  text-decoration: none;
}

.ul-reset {
  list-style: none;
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: var(--titels-color);
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.page-header__container {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header-logo {
  color: #000000;
}

.logo-accent {
  color: var(--accent-color);
}

.nav-list,
.header-contact-list {
  display: none;
}

.mobile-menu-btn {
  width: 40px;
  height: 40px;
  padding: 12px 8px;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu-btn__icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu-btn:hover .mobile-menu-btn__icon,
.mobile-menu-btn:focus .mobile-menu-btn__icon {
  fill: var(--accent-color);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.8);
  transition: opacity var(--transition-duration) var(--transition-timing-function), transform var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);
}

.mobile-menu .container {
  position: relative;
}

.mobile-menu__close-btn {
  padding: 11px;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu__close-icon {
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.mobile-menu__close-btn:hover .mobile-menu__close-icon,
.mobile-menu__close-btn:focus .mobile-menu__close-icon {
  fill: var(--accent-color);
}

.mobile-menu__wrap {
  padding: 48px 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .mobile-nav__link {
    font-size: 40px;
  }
}

.mobile-nav__link.current {
  color: var(--accent-color);
}

.mobile-nav__item:not(:last-child),
.mobile-contact-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-list {
  margin-bottom: 64px;
}

.mobile-contact-list__link-tel {
  font-weight: 500;
  font-size: 7vw;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mobile-contact-list__link-tel {
    font-size: 34px;
  }
}

.mobile-contact-list__link-email {
  font-weight: 500;
  font-size: 5vw;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

@media screen and (min-width: 480px) {
  .mobile-contact-list__link-email {
    font-size: 24px;
  }
}

.mobile-menu__soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__soc-list {
  display: flex;
  margin: 0 -10px;
}

.mobile-menu__soc-link {
  padding: 0 2vw;
  font-weight: 500;
  font-size: 4vw;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .mobile-menu__soc-link {
    font-size: 18px;
    padding: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn,
  .mobile-menu {
    display: none;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }
  .page-header__container {
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
    align-items: center;
  }
  .header-logo {
    margin-right: 88px;
  }
  .nav-list {
    display: flex;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    position: relative;
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .header-contact-list {
    display: block;
    margin-left: auto;
  }
  .header-contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-contact-list__link {
    display: flex;
    align-items: center;
  }
  .header-contact-list__link-icon {
    margin-right: 8px;
    fill: currentColor;
  }
  .header-contact-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition: color var(--transition-duration) var(--transition-timing-function);
  }
  .header-contact-list__link:hover, .header-contact-list__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact-list__link.contact-tel {
    padding-bottom: 21px;
  }
  .header-contact-list__link.contact-email {
    padding-top: 21px;
  }
}

@media screen and (min-width: 768px) {
  .current {
    color: var(--accent-color);
  }
  .current::after {
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
  .header-contact-list {
    display: flex;
    margin-left: auto;
  }
  .header-contact-list__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    font-size: 14px;
  }
  .header-contact-list__link-icon {
    margin-right: 10px;
  }
  .header-contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.hero {
  background-color: var(--dark-background-color);
  text-align: center;
  padding: 118px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg_mobile.jpg);
  background-size: 480px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg_mobile@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

.hero__btn {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg_tablet.jpg);
    background-size: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg_tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg_desktop.jpg);
    background-size: 1600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bg_desktop@2x.jpg);
  }
}

@media screen and (max-width: 768px) {
  .preferences__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.preferences__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.preferences__icon {
  width: 70px;
  height: 70px;
}

.preferences__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .preferences__title {
    text-align: center;
  }
}

.preferences__descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .preferences__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .preferences__item {
    width: calc((100% - 4*15px) /2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .section.preferences {
    padding-bottom: 0;
  }
  .preferences__list {
    display: flex;
  }
  .preferences__item {
    width: calc((100% - 3*30px) /4);
  }
  .preferences__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services__item {
  position: relative;
}

.services__item:not(:last-child) {
  margin-right: 30px;
}

.services__list {
  display: flex;
}

.services__descr {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.team {
  background-color: var(--light-background-color);
}

.team__card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team__wrap {
  padding: 30px 0 24px 0;
}

.team__subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.team__soc-set {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.team__soc-icon {
  fill: currentColor;
}

.team__soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}

.team__soc-link:hover, .team__soc-link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.team__soc-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .team__card {
    width: calc((100% - 15px*4) /2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__card {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    justify-content: space-between;
  }
  .team__card {
    width: calc((100% - 30px*3) /4);
  }
}

.client__list {
  display: flex;
}

@media screen and (max-width: 1199px) {
  .client__list {
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 1199px) {
  .client__item {
    margin: 15px;
    width: calc((100% - 15px*4) /2);
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 100%;
  height: 92px;
  padding: 16px 0;
  color: var(--icon-color);
  transition: border-color var(--transition-duration) var(--transition-timing-function), color var(--transition-duration) var(--transition-timing-function);
}

.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.client__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 15px*6) /3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 30px*5) /6);
  }
  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  background-color: var(--dark-background-color);
  padding: 60px 0;
}

.footer__logo {
  display: block;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 60px;
}

.footer__subtitle {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--secondary-text-color);
}

.footer__contact-link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
}

.join {
  margin-bottom: 60px;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-list__item:not(:last-child) {
  margin-right: 10px;
}

.soc-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--secondary-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
}

.soc-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-form__btn {
  display: block;
}

.footer-form__field {
  width: 100%;
  height: 50px;
  background-color: transparent;
  color: #ffffff;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
}

.footer-form__field:focus {
  outline: 2px solid var(--accent-color);
}

.footer-form__field::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 10px 28px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.footer-form__icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    flex-wrap: wrap;
  }
  .footer__contacts {
    margin-right: 165px;
  }
  .footer-form__wrapper {
    justify-content: center;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 94vw;
  height: 609px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

@media screen and (min-width: 480px) {
  .modal-window {
    width: 450px;
  }
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0.9);
}

@media screen and (max-height: 608px) {
  .modal-window {
    top: 0;
    transform: translate(-50%, 0) scale(1);
  }
}

.close-button {
  position: absolute;
  top: 13px;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.close-button-icon {
  width: 18px;
  height: 18px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: block;
  margin-bottom: 12px;
}

.field-name {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-inner {
  position: relative;
  margin-bottom: 10px;
}

.modal-field {
  width: 100%;
  height: 40px;
  padding: 11px 0 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.modal-field:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-field:focus + .modal-field-icon {
  fill: var(--accent-color);
}

.feedback-field {
  margin-bottom: 16px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.feedback-field::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color var(--transition-duration) var(--transition-timing-function), border-color var(--transition-duration) var(--transition-timing-function);
}

.agreement-checkbox:focus + .custom-checkbox {
  /* outline: 1px solid var(--accent-color); */
  border-color: var(--accent-color);
}

.agreement-checkbox:checked + .custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.custom-checkbox-icon {
  width: 11px;
  height: 8px;
}

.agreement-field-name {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
  cursor: pointer;
}

.agreement {
  color: var(--accent-color);
}

.submit-button {
  margin: 0 auto;
  padding: 10px 55px;
  display: block;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.submit-button:hover, .submit-button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
  .agreement-field-name {
    font-size: 14px;
    line-height: 1.71;
    justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */