.client__list {
    display: flex;
    
    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
        margin: -15px;        
    }
}

@media screen and (max-width: 1199px) {

    .client__item {
        margin: 15px;
    }
    
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 210px;
    height: 92px;
    color: var(--icon-color);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
        color: var(--accent-color);
    }
}

.client__icon {
    fill: currentColor;
}

@media screen and (min-width: 768px) {

    .client__link {
        width: 226px;
    }
}

@media screen and (min-width: 1200px) {
    
    .client__link {
        width: 170px;
    }

    .client__item:not(:last-child) {
        margin-right: 30px;
    }
}