:root {
    --accent-color: #2196f3;
    --text-color: #757575;
    --secondary-text-color: #ffffff;
    --titels-color: #212121;
    --light-background-color: #f5f4fa;
    --dark-background-color: #2f303a;
    --icon-color: #afb1b8;
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}